<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/makeRequest" method="POST">
        <input type="text" name="url" placeholder="Enter a URL" required>
        <button type="submit">Make Request</button>
      </form>
      <p id="response"></p>
      
</body>
</html>